<?xml version='1.0' encoding='utf-8'?>
<widget id="io.zensystem.zencashwallet" version="0.0.16" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ZEN Wallet</name>
    <description>
        ZEN Wallet
    </description>
    <author email="infrastructure@horizen.global" href="https://horizen.global">
       Horizen Global 
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="26" />
        <preference name="android-maxSdkVersion" value="28" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="iosPersistentFileLocation" value="Compatibility" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <hook src="./scripts/build.sh" type="before_prepare" />
    <icon src="./assets/img/zencash.png" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <access origin="*" />
    <allow-intent href="*" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-file" spec="^4.3.3" />
    <plugin name="cordova-plugin-qrscanner" spec="^2.6.1" />
    <plugin name="cordova-plugin-http" spec="^1.2.0" />
    <plugin name="cordova-clipboard" spec="^1.2.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-wkwebview-engine" spec="^1.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
</widget>
